<nav class="navbar bg-dark border-bottom border-body p-0" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
      width="50"
      alt="Angular Logo"
      src=".\assets\logo\Condosa_circular_blanco.png"
      />
      CONDOSA
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a> 
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/login">01. Solicitar Cotizacion</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/SeguimientoCotizacion">02. Seguimiento Cotizacion</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/inicio">03. Firmar Contrato</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/InventariarPredio">04. Inventariar Predio</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/EmitirRecibos">05. Emitir Recibos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/RegistrarRecaudacion">06. Registrar Recaudacion</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CONDOSA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/EmitirRecibos">Emitir Recibos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/FirmarContrato">Firmar Contrato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/InventariarPredio">Inventariar Predio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/RegistrarRecaudacion">Registrar Recaudacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/SeguimientoCotizacion">Seguimiento Cotizacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/SolicitarCotizacion">Solicitar Cotizacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<router-outlet></router-outlet>