<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Condosa - {%block title%}{%endblock%}</title>
    <link rel="stylesheet"
    rel="stylesheet" href="{{url_for('static',filename="SeguirSolicitudCotizacion/css/style.css")}}">
    <link rel="stylesheet"
    href="{{url_for('static',filename="SeguirSolicitudCotizacion/css/components/nav.css")}}">
  </head>
  
  <body>
    <div class="fondo"></div>

    <header class="header">

      <div class="container">
        <div class="btn-menu">
          <label for="btn-menu">☰</label>
        </div>
        <div class="logo">
          <h1>Condosa</h1>
        </div>
        <nav class="menu">
          <a href="{{ url_for('index.principal') }}">Inicio</a>
          <a href="#">Nosotros</a>
          <a href="#">Blog</a>
          <a href="#">Contacto</a>
        </nav>
      </div>
    </header>

    <section>
      <div class="skewed"></div>
    </section>

    <!--	--------------->
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
      <div class="cont-menu">
        <nav>
          <a href="#">Portafolio</a>
          <a href="#">Servicios</a>
          <a href="#">Suscribirse</a>
          <a href="#">Facebook</a>
          <a href="#">Youtube</a>
          <a href="#">Instagram</a>
        </nav>
        <label for="btn-menu">✖️</label>
      </div>
    </div>
    {% block content %}
    <!-- Aquí va el contenido específico de la plantilla hija -->
    {% endblock %}
  </body>
    <section>
      <div class="skewed"></div>
    </section>
  <footer>
    <p>&copy; 2023 CONDOSA. Todos los derechos reservados.</p>
  </footer>

 


</html>