{%extends 'SeguirSolicitudCotizacion/base-user.html'%}
{%block title%}Detalles solicitud{%endblock%}
{%block header%}

{%endblock%}
{%block content%}
<link rel="stylesheet" href="{{url_for('static',filename='SeguirSolicitudCotizacion/css/components/cotizacion.css')}}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% if cotizacion_realizada == "Realizada" %}
<!--Boton atras-->
<form action="{{ url_for('cotizaciones.cotizaciones') }}" method="POST" class="retroceder-container">
    <button type="submit" style="background: none;">
        <img src=" {{ url_for('static',filename='SeguirSolicitudCotizacion/img/atras.png') }} " class="retroceder-icon">
        <input type="hidden" name="btn-atras" value="{{ 'completadas' }}">
    </button>
</form>
{% endif %}

<!--Formulario-->
<form class="container-form">
    <!--INFO PERSONAL-->
    <div class="form-apartado" id="info_personal">
        <div class="apartado-titulo">INFORMACIÓN PERSONAL</div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Nombre: </span>
            </label>
            <input type="text" name="nombre" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.solicitante.persona.nombre_completo }}
        {% else %}{{ data.solicitante.persona.nombre_completo }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Número de documento: </span>
            </label>
            <input type="text" name="nrodocumento" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.solicitante.persona.ndocumento }}
            {% else %}{{ data.solicitante.persona.ndocumento }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Rol: </span>
            </label>
            <input type="text" name="rol" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.solicitante.rol.descripcion }}
            {% else %}{{ data.solicitante.rol.descripcion }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Correo: </span>
            </label>
            <input type="text" name="correo" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.solicitante.correo }}
            {% else %}{{ data.solicitante.correo }}{% endif %}">
        </div>
    </div>

    <!--PREDIO-->
    <div class="form-apartado" id="info_predio">
        <div class="apartado-titulo">INFORMACIÓN DEL PREDIO</div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Nombre: </span>
            </label>
            <input type="text" name="nombre_predio" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.predio.descripcion }}
            {% else %}{{ data.predio.descripcion }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Dirección: </span>
            </label>
            <input type="text" name="direccion_predio" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.predio.direccion }}
            {% else %}{{ data.predio.direccion }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Tipo de predio: </span>
            </label>
            <input type="text" name="tipo_predio" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.predio.tipo_predio.nomre_predio }}
            {% else %}{{ data.predio.tipo_predio.nomre_predio }}{% endif %}">
        </div>
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">RUC: </span>
            </label>
            <input type="text" name="ruc_predio" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.predio.ruc }}
            {% else %}{{ data.predio.ruc }}{% endif %}">
        </div>
    </div>
    <!--SERVICIOS-->
    <div class="form-apartado" id="info_servicio">
        <div class="apartado-titulo">INFORMACIÓN DE SERVICIOS</div>
        
        {% if cotizacion_realizada == 'Realizada' %}
        {% set id_servicio = data.solicitud.id_servicio %}
        {% else %}{% set id_servicio = data.id_servicio %}{% endif %}

        {% if id_servicio == 1 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Cantidad de administracion: </span>
            </label>
            <input type="text" name="cant_administracion" required 
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_administracion }}
            {% else %}{{ data.cant_administracion }}{% endif %}" readonly>
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 2 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Cantidad de personal de limpieza: </span>
            </label>
            <input type="text" name="cant_plimpieza" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_plimpieza }}
            {% else %}{{ data.cant_plimpieza }}{% endif %}">
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 3 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Cantidad de jardineros: </span>
            </label>
            <input type="text" name="cant_jardineria" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_jardineria }}
            {% else %}{{ data.cant_jardineria}}{% endif %}">
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 4 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Cantidad de vigilantes: </span>
            </label>
            <input type="text" name="cant_vigilantes" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_vigilantes }}
            {% else %}{{ data.cant_vigilantes}}{% endif %}">
        </div>
        {% endif %}

        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Tipo de servicio: </span>
            </label>
            <input type="text" name="tipo_servicio" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.servicio.descripcion }}
            {% else %}{{ data.servicio.descripcion }}{% endif %}">
        </div>
    </div>

    <!--COTIZACION-->
    <div class="form-apartado" id="info_cotizacion">
        <div class="apartado-titulo">INFORMACIÓN DE LA COTIZACION</div>
        {% if id_servicio == 1 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Importe por administrador: </span>
            </label>
            <input type="text" required name="importe_administracion" readonly 
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_administracion*500 }}
            {% else %}{{ data.cant_administracion*500 }}{% endif %}">
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 2 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Importe por personal de limpieza: </span>
            </label>
            <input type="text" name="importe_plimpieza" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_plimpieza*300 }}
            {% else %}{{ data.cant_plimpieza*300 }}{% endif %}">
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 3 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Importe por jardineros: </span>
            </label>
            <input type="text" name="importe_jardineria" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_jardineria*300 }}
            {% else %}{{ data.cant_jardineria*300 }}{% endif %}">
        </div>
        {% endif %}
        {% if id_servicio == 1 or id_servicio == 4 %}
        <div class="textInput">
            <label class="input__lbl">
                <span class="txt-lbl">Importe por vigilantes: </span>
            </label>
            <input type="text" name="importe_vigilantes" required readonly
            value="{% if cotizacion_realizada == 'Realizada' %}{{ data.solicitud.cant_vigilantes*400 }}
            {% else %}{{ data.cant_vigilantes*400 }}{% endif %}">
        </div>
        {% endif %}
        <div class="textInput">
            <label class="input__lbl">
                {% if cotizacion_realizada == "No realizada" %}
                <span class="txt-lbl">Importe TOTAL a cotizar: </span>
                {% else %}
                <span class="txt-lbl">Importe TOTAL cotizado: </span>
                {% endif %}
            </label>
            {% if cotizacion_realizada == "No realizada" %}
            <input type="text" name="importe_total" required readonly 
            value="{{ (data.cant_vigilantes*400)+( data.cant_jardineria*300)+(data.cant_plimpieza*300)+(data.cant_administracion*500) }}">
            {% else %}
            <input type="text" name="importe_total" required readonly 
            value="{{ data.importe }}">
            {% endif %}
        </div>
    </div>

</form>
{% if cotizacion_realizada == "No realizada" %}
<!-- Botones de Aceptar y Rechazar -->
<div class="buttons button-container">
    <form action="{{ url_for('cotizaciones.aceptar') }}" method="POST">
        <button type="submit" class="button" style="margin-right: 10px; margin-top: 10px;">
            <input type="hidden" name="aceptar__id_solicitud" value="{{ data.id_solicitud }}">
            <span class="material-icons">
                done
            </span>
            Registrar
        </button>
    </form>
    <form action="{{ url_for('cotizaciones.rechazar') }}" method="POST">
        <button type="submit" class="button" style="margin-left: 10px; margin-top: 10px;">
            <input type="hidden" name="rechazar__id_solicitud" value="{{ data.id_solicitud }}">
            <span class="material-icons">
                clear
            </span>
            Cancelar
        </button>
    </form>
</div>
{% endif %}

{%endblock%}