{% extends 'RegistrarRecaudaciones/base-user.html' %}
{% block title %}Editar Recaudación{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='RegistrarRecaudaciones/css/recaudacion.css') }}">

<h1>Editar Recaudación</h1>

<form action="" method="POST">
    <div class="form-group">
        <label for="fecha-operacion-input">Fecha de Operación:</label>
        <input type="text" class="form-control" id="fecha-operacion-input" name="fecha_operacion" value="{{ recaudacion.fecha_operacion }}" required>
    </div>
   
    <div class="form-group">
        <label for="EstadoR-input">Estado:</label>
        <select class="form-control" id="EstadoR-input" name="EstadoR-input">
          <option value=1 {% if recaudacion.id_recaudacion_estado = 1 %}selected{% endif %}>Validado</option>
          <option value=2 {% if recaudacion.id_recaudacion_estado = 2 %}selected{% endif %}>Rechazado</option>
          <option value=3 {% if recaudacion.id_recaudacion_estado = 3 %}selected{% endif %}>Anulado</option>
          <option value=4 {% if recaudacion.id_recaudacion_estado = 4 %}selected{% endif %}>Registrado</option>
        </select>
      </div>

    <div class="form-group">
        <label for="observacion-input">Observación:</label>
        <input type="text" class="form-control" id="observacion-input" name="observacion" value="{{ recaudacion.observacion }}">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}