<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--LINK BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    <div class="sectionv2">
        <!-- UNICA COLUMNA PRINCIPAL-->
        <div class="col-md-12">
            <!-- UNICA FILA PRINCIPAL, Ambos forman una CELDA-->
            <div class="row">
                <!--ESTRUCTURA DEL RECIBO, se aplican desplazamientos (offset) para centrarlo en cualquier pantalla-->
                <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <!--ESTA DIVIDIDA EN 4 FILAS-->
                    <!-- PRIMERA FILA PARA EL ENCABEZADO DEL RECIBO, tiene los datos del logo y algunos datos del destinatario-->
                    <div class="row">
                        <!--Dividido en 2 columnas-->
                        <div class="receipt-header">
                            <!--Columna del logo-->
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="receipt-left d-flex justify-content-center"> <!-- LOGO DEL PREDIO -->
                                    <img class="img-responsive" alt="iamgurdeeposahan"
                                        src="https://th.bing.com/th/id/OIG.3xBMG4LseOZryOzkevz7?pid=ImgGn"
                                        style="width: 160px; border-radius: 80px; margin-left: auto; margin-right: auto;">
                                </div>
                            </div>
                            <!--Columna de datos-->
                            <div class="col-xs-7 col-sm-7 col-md-7 text-right">
                                <div class="receipt-right" style=" padding: 10px;">
                                    <table style="width: 100%; border-collapse: collapse; text-align: center;">
                                        <tbody>
                                            <!-- NOMBRE DEL PREDIO-->
                                            <tr style="height: 4.5px;">
                                                <td style="width: 97%; height: 4.5px; border: 1px solid #000000;"
                                                    colspan="2">{{ datosPredioSuperior[0]["nombre_predio"] }}</td>
                                            </tr>
                                            <tr style="height: 3px;">
                                                <td style="width: 97%; height: 3px; border: 1px solid #000000;"
                                                    colspan="2">
                                                    RUC: {{datosPredioSuperior[0]["ruc"]}}&nbsp;&nbsp;&nbsp;</td>
                                            </tr>
                                            <tr style="height: 9px;">
                                                <td style="width: 44.8572%; height: 9px; border: 1px solid #000000;">
                                                    &nbsp;Recibo N&deg;</td>
                                                <td style="width: 52.1428%; height: 9px; border: 1px solid #000000;">
                                                    {{datosPredioSuperior[0]["num_recibo"]}}</td>
                                            </tr>
                                            <tr style="height: 12px;">
                                                <td style="width: 44.8572%; height: 12px; border: 1px solid #000000;">
                                                    &nbsp;Periodo:&nbsp;</td>
                                                <td style="width: 52.1428%; height: 12px; border: 1px solid #000000;">
                                                    &nbsp;{{datosPredioSuperior[0]["periodo"]}}</td>
                                            </tr>
                                            <tr style="height: 10px;">
                                                <td style="width: 97%; height: 10px; border: 1px solid #000000;"
                                                    colspan="2">
                                                    {{datosPredioSuperior[0]["direccion"]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SEGUNDA FILA PARA LOS DEMAS DATOS del destinatario del recibo -->
                    <div class="row">
                        <div class="receipt-header receipt-header-mid">

                            <!-- COLUMNA IZQUIERDA -->
                            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                                <div class="receipt-left">
                                    <h3 style="font-size: 2rem"><b>{{ datosPersona[0]['nombres_apellidos'] }}</b></h3>
                                </div>
                            </div>
                            <!-- COLUMNA DERECHA -->
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="receipt-right">
                                    <h3></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TERCERA FILA, es la tabla de datos de los gastos del recibo-->
                    <div class="text-0">
                        <!-- PRIMERA TABLA GASTOS COMUNES -->
                        <table class="table table-bordered">
                            <!--1ERA CABECERA -->
                            <thead class="cabecera-1">
                                <tr>
                                    <th class="text-left">Importe por servicios comunes</th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Habitación</span><br>
                                        <span style="text-align: center;">{{ datosPersona[0]['desc_mdu'] }} {{
                                            datosPersona[0]['num_casa'] }} </span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Area ocupada</span><br>
                                        <span style="text-align: center;">{{ datosPersona[0]['area_casa'] }}</span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">%Participación</span><br>
                                        <span style="text-align: center;">{{ datosPersona[0]['participacion'] }}</span>
                                    </th>
                                </tr>
                            </thead>
                            <!--2DA CABECERA -->
                            <thead class="cabecera-2">
                                <tr>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Cantidad</span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Monto Total</span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Importe S/.</span><br>
                                    </th>
                                </tr>
                            </thead>

                            <!--CABECERA DE TIPO DE GASTOS -->
                            <thead class="cabecera-3">
                                <tr>
                                    <th class="text-left">Gasto Laboral, Administración y
                                        contabilidad</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>
                                </tr>
                            </thead>
                            <!-- Filas generadas dinámicamente-->
                            <thead>
                                <script>
                                    for (var i = 0; i < 3; i++) {
                                        document.write(`
                                            <tr>
                                                <td class="col-md-9 ">Descrip Comun</td>
                                                <td class="col-md-9 text-center">X</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15,000.0</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15.0</td>
                                            </tr>
                                        `);
                                    }
                                </script>
                            </thead>
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span>Total Gasto Laboral, administración y
                                                    contabilidad:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-right">
                                        <h2><strong><span></span>S/.30,000.0</strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span>S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                            <!--CABECERA DE TIPO DE GASTOS -->
                            <thead class="cabecera-3">
                                <tr>
                                    <th class="text-left">Gasto Diversos</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>
                                </tr>
                            </thead>
                            <!-- Filas generadas dinámicamente-->
                            <thead>
                                <script>
                                    for (var i = 0; i < 8; i++) {
                                        document.write(`
                                            <tr>
                                                <td class="col-md-9 ">Descrip Comun</td>
                                                <td class="col-md-9 text-center">X</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15,000.0</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15.0</td>
                                            </tr>
                                        `);
                                    }
                                </script>
                            </thead>
                            <!--Total gastos de un tipo-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span>Total Gastos diversos:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-right">
                                        <h2><strong><span></span>S/.30,000.0</strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span>S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                            <!-- TOTAL GASTOS POR SERV COMUNES-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span style="color: purple;">Total cuotas de mantenimiento por
                                                    servicios
                                                    comunes:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-right">
                                        <h2><strong><span style="color: purple;">S/.30,000.0</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span
                                                    style="color: purple;">S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- SEGUNDA TABLA GASTOS INDIVIDUALES -->
                        <table class="table table-bordered">
                            <thead class="cabecera-1">
                                <!--1ERA CABECERA -->
                                <tr>
                                    <th class="text-left">Importe por consumo individual</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>

                                </tr>
                            </thead>
                            <thead class="cabecera-2">
                                <!--2DA CABECERA -->
                                <tr>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Cantidad</span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Importe S/.</span><br>
                                    </th>
                                </tr>
                            </thead>
                            <!--CABECERA DE TIPO DE GASTOS -->
                            <thead class="cabecera-3">
                                <tr>
                                    <th class="text-left">Gastos Individuales genericos</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>

                                </tr>
                            </thead>
                            <!-- Filas generadas dinámicamente-->
                            <thead>
                                <script>
                                    for (var i = 0; i < 2; i++) {
                                        document.write(`
                                            <tr>
                                                <td class="col-md-9 ">Descrip Ind</td>
                                                <td class="col-md-9 text-center">X</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15,000.0</td>
                                            </tr>
                                        `);
                                    }
                                </script>
                            </thead>
                            <!--Total gastos de un tipo-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span>Total gastos individuales genericos:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span>S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                            <!--CABECERA DE TIPO DE GASTOS -->
                            <thead class="cabecera-3">
                                <tr>
                                    <th class="text-left">Sanciones por infracciones</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span><br>
                                    </th>

                                </tr>
                            </thead>
                            <!-- Filas generadas dinámicamente-->
                            <thead>
                                <script>
                                    for (var i = 0; i < 2; i++) {
                                        document.write(`
                                            <tr>
                                                <td class="col-md-9 ">Sancion X</td>
                                                <td class="col-md-9 text-center">X</td>
                                                <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.15,000.0</td>
                                            </tr>
                                        `);
                                    }
                                </script>
                            </thead>
                            <!--Total gastos de un tipo-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span>Total infracciones:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span>S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                            <!--TOTAL GASTOS INDIVIDUALES-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span style="color: purple;">Total consumo
                                                    individual:</span></strong>
                                        </h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span
                                                    style="color: purple;">S/.3.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                        </table>

                        <!-- TERCERA TABLA, PAGO POR CAJA CHICA-->
                        <table class="table table-bordered">
                            <thead class="cabecera-1">
                                <!--1ERA CABECERA -->
                                <tr>
                                    <th class="text-left">Cuota de mantenimiento por caja chica</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>
                                </tr>
                            </thead>
                            <thead class="cabecera-2">
                                <!--2DA CABECERA -->
                                <tr>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Caja del mes anterior</span>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">%Area</span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">N°<br>Deshabitados</span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Monto min. de
                                            descuento</span><br>
                                    </th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Importe S/.</span><br>
                                    </th>
                                </tr>
                            </thead>
                            <!--Datos caja chica-->
                            <thead>
                                <tr>
                                    <td class="col-md-9 ">Calculo</td>
                                    <td class="col-md-9 text-center">S/.8,000.0</td>
                                    <td class="col-md-3 text-right"><i class="fa fa-inr"></i>0.0031</td>
                                    <td class="col-md-3 text-right"><i class="fa fa-inr"></i>7</td>
                                    <td class="col-md-3 text-right"><i class="fa fa-inr"></i>10</td>
                                    <td class="col-md-3 text-right"><i class="fa fa-inr"></i>S/.100</td>
                                </tr>
                            </thead>

                            <!--TOTAL CUOTA MANT GASTOS INDIVIDUALES-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span style="color: purple;">Total cuota de
                                                    mantenimiento:</span></strong>
                                        </h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-center">
                                        <h2><strong><i class="fa fa-inr"></i></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span
                                                    style="color: purple;">S/.100</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <!-- CUARTA TABLA, TOTAL PAGO-->
                        <table class="table table-bordered">
                            <thead class="cabecera-1">
                                <!--1ERA CABECERA -->
                                <tr>
                                    <th class="text-left">Total a pagar</th>
                                    <th class="text-center">
                                        <span style="text-align: center;"></span>
                                    </th>

                                </tr>
                            </thead>
                            <thead class="cabecera-2">
                                <!--2DA CABECERA -->
                                <tr>
                                    <th class="text-left">Descripción</th>
                                    <th class="text-center">
                                        <span style="text-align: center;">Importe S/.</span>
                                    </th>

                                </tr>
                            </thead>
                            <!--subtotal-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span>Sub Total:</span></strong></h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span>S/.300.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <td class="col-md-9 ">Ajuste</td>
                                    <td class="col-md-9 text-center">S/. 0.0</td>
                                </tr>
                            </thead>
                            <!--TOTAL GASTOS INDIVIDUALES-->
                            <thead>
                                <tr>
                                    <td class="text-left">
                                        <h2><strong><span style="color: rgb(148, 103, 6);">Total del
                                                    mes:</span></strong>
                                        </h2>
                                    </td>
                                    <td class="text-left text-danger text-right">
                                        <h2><strong><i class="fa fa-inr"></i><span
                                                    style="color:rgb(148, 103, 6);">S/.300.0</span></strong></h2>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- TABLA FINAL -->
                    <div>
                        <div class="receipt-right" style="padding: 1px;">
                            <table
                                style="width: 100%; border-collapse: collapse; text-align: center; table-layout: fixed;">
                                <tbody>
                                    <tr style="height: 4px;">
                                        <td style="width: 97%; height: 4px; border: 1px solid #000000;" rowspan="5">
                                            Mensaje al Propietario:</td>
                                        <td style="width: 97%; height: 4px; border: 1px solid #000000;" colspan="2">1er
                                            Comentario</td>
                                    </tr>
                                    <tr style="height: 3px;">
                                        <td style="width: 97%; height: 3px; border: 1px solid #000000;">Fecha Emisión
                                        </td>
                                        <td style="width: 97%; height: 3px; border: 1px solid #000000;">Fecha
                                            Vencimiento</td>
                                    </tr>
                                    <tr style="height: 6.5px;">
                                        <td style="width: 44.8572%; height: 6.5px; border: 1px solid #000000;">
                                            {{datosPredioInferior[0]['fecha_emision']}}</td>
                                        <td style="width: 44.8572%; height: 6.5px; border: 1px solid #000000;">
                                            {{datosPredioInferior[0]['fecha_vencimiento']}}</td>
                                    </tr>
                                    <tr style="height: 12px;">
                                        <td style="width: 44.8572%; height: 12px; border: 1px solid #000000;">Total Mes
                                        </td>
                                        <td style="width: 44.8572%; height: 12px; border: 1px solid #000000;">S/.300.0
                                        </td>
                                    </tr>
                                    <tr style="height: 10px;">
                                        <td style="width: 97%; height: 10px; border: 1px solid #000000;" colspan="2">2do
                                            Comentario
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
</body>