@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.fondo {
  background: #000080;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.skewed {
  border-top: 1px solid #212121;
  height: 2px;
  max-width: 95%;
  padding: 0;
  margin: 0 auto;
}

footer {
  color: #212121;
  font-size: 15px;
  height: 45px;
  width: 100%;
  text-align: center;
  line-height: 45px;
}
