<div class="contenedor">
    <div id="titulo">
        <br>
        <h1 style="text-align: center">¡BIENVENIDOS A CONDOSA!</h1>
    </div>
    <div id="figura">
        <p><img src="./assets/imagenes_menu/condominio.jpg" width="400" height="300" /></p>
    </div>
    <div class="banda">
        <div id="subtitulo">
            <p>Sobre Nosotros</p>
        </div>
        <div id="parrafo">
            <p>Somos “Condominios S. A." - CONDOSA, una empresa administradora de edificios, quintas 
                y condominios que opera en Lima y Provincias. Tenemos más de 15 años en el mercado y 
                tenemos como objetivo primordial el proporcionar los más altos niveles de calidad y 
                calidez en sus servicios, de forma tal, que hagan posible que los residentes de los 
                Condomínios que administran,  disfruten de sus Departamentos y demás instalaciones de 
                forma segura, cómoda, tranquila, placentera y con un mínimo de preocupaciones.</p>
        </div>
    </div>
</div>
