.container {
  margin: 10px;
  padding: 5px;
  padding-bottom: auto;
  background-color: #f1eded;
  justify-content: center;
}

h1,
h2 {
  color: #333333;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  margin-top: 60px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
}
img {
  width: 340px; /* Ajusta el ancho de la imagen */
  height: auto; /* Permite que la altura se ajuste proporcionalmente */
  border-radius: 40px; /* Aplica un borde redondeado */
}

h2 {
  font-size: 20px;
  margin: 0;
  margin-top: 130px;
}
label {
  font-size: 20px;
  margin: 0;
  margin-top: 100px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  margin-bottom: 55px;
  background-color: #15237b;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

button:hover {
  background-color: #45a049;
}

label {
  font-size: 18px;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
